.heroImage {
  background-color: #4d4d4d;
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heroText {
    font-size: 5rem;
    color: #eeeeee;
    max-width: 12ch;
}