.group {
  position: relative;
}

.input {
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #6c6c6c;
  background: transparent;
  color: #eeeeee;
}

.input:focus {
  outline: none;
}

.group .label {
  color: #999999;
  font-size: 1.25rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 8px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ .label,
.input:valid ~ .label {
  top: -22px;
  font-size: 1rem;
  color: aquamarine;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background-color: aquamarine;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 0px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputFocus 0.5s ease;
}

@keyframes inputFocus {
  from {
    background: aquamarine;
  }
  to {
    width: 185px;
    background: transparent;
  }
}


.card {
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: padding-top 0.2s ease;

  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);

  margin: 2rem;
  &:focus-within {
    padding-top: 3.75rem;
  }
}